/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
/* Colors */
$lgreen: #AFCC6F;
$dgreen: #88AF7F;
$pgreen: #C3D5C9;
/* Section Background Colours */
#about, #menu, #book, #contact, #map, #form{background: $dgreen;}
#coffee, #food, #times{background: $lgreen;}
/* Typography */
.title{
    font-size: 3vw;
}
.btn{
    width: 120px;
    height: 40px;
    background: $lgreen;
    border-radius: 10px;
    border: none;
    outline: 0;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    background: $pgreen;
   
}
.btnsml{
    width: 120px;
    height: 40px;
    background: $lgreen;
    border-radius: 10px;
    border: none;
    outline: 0;
    transition: 0.3s ease;
    cursor: pointer;
}
.btnsml:hover{
    background: $pgreen;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 60%;
    margin: auto;
}
.card{
    width: 50vw;
    height: 40vh;
    background: $lgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Extra Typography */
#book h1{font-size: 4vw;}
/* Section Heights */
#contact{
    height: auto;
    flex-direction: column;
}
/* Main */
#parallax{
    background:url(https://images.unsplash.com/photo-1540914124281-342587941389?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

/* Coffee */
.col-footer{
    display: flex;
    justify-content: center;
    img{
        margin: 1rem;
        width: 60px;
    }
}

/* Menu */
#menu{height:100vh;display: block;}

input { display: none; }                /* hide radio buttons */
input + label { display: inline-block } /* show labels in line */
input ~ .tab { display: none }          /* hide contents */
/* show contents only for selected tab */
#tab1:checked ~ .tab.content1,
#tab2:checked ~ .tab.content2,
#tab3:checked ~ .tab.content3,
#tab4:checked ~ .tab.content4,
#tab5:checked ~ .tab.content5, 
#tab6:checked ~ .tab.content6,
#tab7:checked ~ .tab.content7 { display: block; }
input + label {             /* box with rounded corner */
    border: 1px solid #999;
    background: $lgreen;
    padding: 4px 12px;
    border-radius: 4px 4px 0 0;
    position: relative;
    top: 1px;
    cursor: pointer;
  }
  input:hover + label{
      background: $pgreen;
  }
  input:checked + label {     /* white background for selected tab */
    background: $pgreen;
    border-bottom: 1px solid transparent;
  }
  input ~ .tab {          /* grey line between tab and contents */
    border-top: 1px solid #999;
    padding: 12px;
  }
  .menu-container{
      display: flex;
      justify-content: space-evenly;
      .menu-item{
          display: flex;
          align-items: center;
          padding: 1rem;
      }
      .menu-extra{
          border: 1px dashed $lgreen;
          border-radius: 10px;
          padding: 1rem;
      }
  }
  .menu-divider{
    height: 100%;
    width: 10px;
    background: #1c1c1c;
    z-index: 1;
}
/* Book */
#book .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2, button, span{margin: 1rem;}
}

/* Times */
#times .container{
    h1, img, ul{
        margin: 1rem;
    }
    ul{
        list-style: none;
    }
}

/* Contact */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        margin: .7rem;
        text-align: center;
        border: none;
        background: transparent;
        color: #fff;
    }
    input:focus{
        outline: none;
        border-bottom: 1px solid #fff;
    }
    ::placeholder{
        color: #fff;
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    background: #000;
    color: #fff;
    ul{
        list-style: none;
        a{
            color: #fff;
            text-decoration: none;
        }
        li{
            
        }
    }
}
/* Media Queries */
@media(min-width: 375px){
    #map{#smlmap{
        display: block;
    }
    #lgmap{
        display: none;
    }
}
}