/* Colors */
$lgreen: #AFCC6F;
$dgreen: #88AF7F;
$pgreen: #C3D5C9;
/* Typography */
.title{
    font-size: 3vw;
}
.btn{
    width: 120px;
    height: 40px;
    background: $dgreen;
    border-radius: 10px;
    border: none;
    outline: 0;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn:hover{
    background: $pgreen;
   
}
.btnsml{
    width: 120px;
    height: 40px;
    background: $dgreen;
    border-radius: 10px;
    border: none;
    outline: 0;
    transition: 0.3s ease;
    cursor: pointer;
}
.btnsml:hover{
    background: $pgreen;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.card{
    width: 500px;
    height: 270px;
    background: $lgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* Main */
#parallax{
    background:url(https://images.unsplash.com/photo-1540914124281-342587941389?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80) no-repeat center center scroll;
    background-size: cover;
    background-attachment: fixed;
}

/* Coffee */
.col-footer{
    display: flex;
    justify-content: center;
    img{
        margin: 1rem;
        width: 60px;
    }
}

/* Menu */
#menu{flex-direction: column;justify-content:center;}
.tab{
    overflow: hidden;
    border: 1px solid #ccc;
    background: #f1f1f1;
    button{
        background: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }
    button:hover{
        background: #ddd;
    }
    button:active{
        background: #ccc;
    }
}
.tabcontent{
    display: none;
    padding: 6px 12px;
    border:1px solid #ccc;
    border-top: none;
    justify-content: space-around;
    .menu-about{
        display: flex;
    }
    .menu-divider{
        width:5px;
        height:100%;
        background: #1c1c1c;
    }
}

/* Book */
#book .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2, button, span{margin: 1rem;}
}

/* Times */
#times .container{
    h1, img, ul{
        margin: 1rem;
    }
    ul{
        list-style: none;
    }
}

/* Contact */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        margin: .7rem;
        text-align: center;
        border: none;
        background: transparent;
        color: #fff;
    }
    input:focus{
        outline: none;
        border-bottom: 1px solid #fff;
    }
    ::placeholder{
        color: #fff;
    }
}

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
    background: #000;
    color: #fff;
    ul{
        list-style: none;
        a{
            color: #fff;
            text-decoration: none;
        }
        li{
            
        }
    }
}
/* Media Queries */
@media(min-width:375px){
    .parralax{background-attachment: scroll;}
    html {font-size: calc(16px + 6 * ((100vw - 320px) / 680));}
}
  @media screen and (min-width: 1000px) {
    html {font-size: 22px;}
  }